<launch>

    <!-- ############################################################################### -->
    <!-- ###### Multi-Camera VO -->
    
    <node pkg="multicam_vo" type="multicam_vo_node" name="vo" output="screen">
        <param name="image_topic" value="/camera/image_raw" />
        <param name="simulation" value="false" />
        <param name="calib_file_cam_0" value="$(find ladybug2)/param/provided_calibration/cam0.yaml" />
        <param name="calib_file_cam_1" value="$(find ladybug2)/param/provided_calibration/cam1.yaml" />
        <param name="calib_file_cam_2" value="$(find ladybug2)/param/provided_calibration/cam2.yaml" />
        <param name="calib_file_cam_3" value="$(find ladybug2)/param/provided_calibration/cam3.yaml" />
        <param name="calib_file_cam_4" value="$(find ladybug2)/param/provided_calibration/cam4.yaml" />
        <param name="calib_file_cam_5" value="$(find ladybug2)/param/provided_calibration/cam5.yaml" />
        <rosparam file="$(find ladybug2)/param/ladybugExtrinsics.yaml" />
        <rosparam file="$(find multicam_vo)/param/fastParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/briskParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/orbParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/shiTomasiParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/bucketingParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/trackingMatchingParams.yaml" />
        <rosparam file="$(find multicam_vo)/param/odometerParams.yaml" />  
        <rosparam file="$(find multicam_vo)/param/ROI_providedCalib.yaml" />   
        <rosparam file="$(find multicam_vo)/param/overlap.yaml" />        
    </node>

    <!-- ############################################################################### -->
    <!-- ###### Plot VO -->

    <node pkg="evaluate_vo" type="get_vo_node" name="get_vo" args="$(find multicam_vo)/matlab/vo_opt.m vo_opt odometry" output="screen">
        <remap from="get_data/visual_odometry" to="/vo/multicam_vo/odometry" />
    </node>

    <!-- ############################################################################### -->
    <!-- ###### Bagfile -->
    
    <node pkg="rosbag" type="play" name="bag" args="-r 0.05 $(find ladybug2)/bagfiles/jun19_campus1.bag" />

</launch>
